go 1.21.3

use (
	./notifications/infrastructure
	./session/infrastructure/workflow-pre-registration-token
	members
	notifications
	pkg/monitoring
	pkg/server
	pkg/validations
	session
	storage
	storage/infrastructure/dynamodb
	session/infrastructure/handler-pre-registration-token
)
